
[Desktop Entry]
Exec=/usr/local/twe-3.0-2/bin/run.sh
Icon=togwe_48
Terminal=false
Type=Application
Categories=Development;GNOME;GTK;Applications;X-Fedora;
StartupNotify=true
X-Desktop-File-Install-Version=0.15
MimeType=text/xml;text/plain;
Name=Together Workflow Editor
GenericName= XPDL editor
Comment=Compose, edit, and view XPDL 1.0 documents
